<div class="container">
  <h1>{{ titulo }}</h1>
   
   
  <form style="margin-top: 5%">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>RUT</label>
          <input
            type="text"
            class="form-control"
            placeholder="Escribe Rut Persona"
            [(ngModel)]="rut"
            name="rut"
          />
        </div>
        <div class="form-group">
          <label>Correo</label>
          <input
            type="text"
            class="form-control"
            placeholder="Escribe Correo Persona"
            [(ngModel)]="correo"
            name="correo"
          />
        </div>




        <div class="form-group">
          <label>Banco</label>

          <select name="banco" [(ngModel)]="banco">
            <option *ngFor="let item of listabancoDestinos" [ngValue]="item.name">
              {{ item.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Nº De Cuenta</label>
          <input
            type="text"
            class="form-control"
            placeholder="Escribe Numero de Cuenta"
            [(ngModel)]="numeroCuenta"
            name="numeroCuenta"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Escribe Nombre Persona"
            [(ngModel)]="nombre"
            name="nombre"
          />
        </div>

        <div class="form-group">
          <label>Telefono</label>
          <input
            type="text"
            class="form-control"
            placeholder="Escribe numero de teléfono persona"
            [(ngModel)]="numeroTelefono"
            name="numeroTelefono"
          />
        </div>

        <div class="form-group">
          <label>Tipo de cuenta</label>

          <select
            name="tipoCuenta"   [(ngModel)]="tipoCuenta"  >
            <option *ngFor="let item of listaTipoCuentas"  [ngValue]="item.nombre"> 
              {{ item.nombre }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button
      type="submit"
      style="margin-top: 2%; margin-left: 45%"
      class="btn btn-primary btn-block"
      (click)="crearDestinatario()"
    >
      Crear
    </button>
  </form>  
</div>
